{% for row in rows %}
    <tr data-manifest-id="{{ row.id }}">
        <td>{{ row.id }}</td>
        <td>{{ row.platform }}</td>
        <td>
            {% if row.getGameVersion(true) is not empty %}
                <ul>
                    {% for version in row.getGameVersion(true) %}
                        <li>{{ version }}</li>
                    {% endfor %}
                </ul>
            {% endif %}
        </td>
        <td>
            <div class="btn-toolbar justify-content-between" role="toolbar">

                <div class="btn-group" role="group">
                    <a class="btn btn-primary btn-sm" href="{{ path(editRoute, {id: row.id}) }}"
                       title="Редактировать">
                        <svg class="bi" width="16" height="16">
                            <use xlink:href="{{ asset('img/bs/bootstrap-icons.svg') }}#pencil-square"/>
                        </svg>
                    </a>
                    <a class="btn btn-outline-secondary btn-sm" href="{{ path('manifest-copy', {id: row.id}) }}"
                       title="Клонировать">
                        <svg class="bi" width="16" height="16">
                            <use xlink:href="{{ asset('img/bs/bootstrap-icons.svg') }}#file-earmark-plus"/>
                        </svg>
                    </a>
                </div>
            </div>
        </td>
    </tr>
{% endfor %}
